  //custom fonts

   @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
//custom variables

//colors
$link-color:                #fff;
$link-hover-color:          darken($link-color, 15%) !default;


$main-color: #2C3849;
$bar-color: #D8D8D8;
$side-bar-color: lighten($bar-color, 10%);
$my-range-thumb:  #33C490;
$dark: $main-color;
$custom-range-thumb-bg:              $my-range-thumb;
$dropdown-link-hover-bg: $my-range-thumb;

//custom fonts

$my-font:  'Montserrat', sans-serif;
$font-family-base:            $my-font;


//scss imports

//import all of bootstrap

  @import "node_modules/bootstrap/scss/bootstrap";


//stylesheet


//base styles

html {
  height: 100%;
  box-sizing: border-box;
}
body {overflow-x: hidden;}
.wrapper {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

section {
  display: -webkit-box;

}

//nav custom

.nav-item {
  font-size: 0.8em;
}
  .fa-home {
        color:$my-range-thumb;
        padding-right: 5px;
      }
.fa-cube, .fa-inbox, .fa-bath {
  padding-right:5px;
}


.my-search-input {
        background-color: $main-color;
        border-radius: 20px;
        height: 35px;
        font-size: 0.8em;


  }

  .form-control:focus {
      color: white;
      background-color: $main-color;
      opacity: 0.5;
      border-color: $my-range-thumb; //original color #80bdff
}
.form-control::placeholder {
    color: white;
    opacity: 0.5; }

.my-search {
    position: relative;

    input {
    text-indent: 32px;


  }
}

button.fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
  color: $my-range-thumb;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;

}
//1st comlumn sidebar
// custom selected

.custom-select {
    background: none;
}
.custom-select:focus {
    border-color: $my-range-thumb;

  }
  .my-op:hover {
    background-color: red;
  }
.sidebar { position:fixed; bottom:0; top:0; left:0; z-index: 100;}

#side-filter { margin-top:100px;}

hr.style-one  {
    border: 1px solid black;
    width:100%;
    margin:0;
}


.my-card-text {font-size: 12px;}



/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

//main showcase area

.fa-map-marker {
  color: $my-range-thumb;

}

.my-room-info i {
  color: $my-range-thumb;
}

h5.card-title {
  font: {
    size:14px;
  }
}



.main-page {
  position: relative;
  padding-bottom: 400px;
}

.a-hover .my-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  opacity:0;
  transition: .3s ease;
  background-color: gray;
}

.a-hover:hover .my-overlay {
  opacity:0.6;
}

.my-overlay .my-span {
  padding: 8px;
  color: $my-range-thumb;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

}

 .my-overlay:hover .my-span {
  opacity: 1;
  border: 1px solid $my-range-thumb;
  transition: all 0.3s ease;
}


//footer Content

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $main-color;
  z-index: 1030;


}
